

$body-color: #fff;
$pcolor: #c8c8c8;
$sub-bg: #11141b;
$main-color: #75dab4;
$dark-shadow: 0px 10px 40px -4px rgba(0,0,0,.1); 
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$desk-lg-screen: 1200px;
