

/* ====================== [ Start services ] ====================== */

.services{
	position: relative;

	.container{
		position: relative;
		z-index: 2;
	}

	.item-box{
		padding: 80px 30px;
		text-align: center;

		&:nth-of-type(2){
			background: #f9fbfd;
		}

		&:nth-of-type(3){
			background: #f2f3f5;
		}

		&:last-of-type{
			background: #f9fbfd;
		}

		&.bg-img{
			position: relative;
			text-align: left;
			z-index: 2;

			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #1a1e25;
				opacity: .8;
				z-index: -1;
			}

			h4{
				color: #fff;
			}
		}

		.icon{
			color: $main-color;
			font-size: 40px;
			margin-bottom: 30px;
		}

		h6{
			line-height: 1.8;
			text-transform: capitalize;
			margin-bottom: 10px;
		}
	}

	.rone{

		> div{
			position: relative;

			&:nth-of-type(2){
				margin-bottom: -50px;
				margin-top: auto;
			}
		}
	}

	.rtwo{

		> div{
			position: relative;

			&:nth-of-type(2){
				margin-bottom: -50px;
				margin-top: auto;
			}
		}
	}
	
	.mas-item{
		padding: 40px;
		margin: 50px 0;
		background: #f7f7f7;
		position: relative;
		z-index: 2;

		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #f7f7f7;
			transition: all .4s;
			z-index: -1;
		}

		.bg-color{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $main-color;
			transition: all .4s;
			z-index: -2;
		}

		&:hover{

			.bg-color{
				top: 10px;
				left: 10px;
			}
		}

		.icon{
			font-size: 45px;
			color: $main-color;
			margin-bottom: 30px;
		}

		h6{
			font-weight: 600;
			font-size: 16px;
			line-height: 1.7;
		}

		.more{
			margin-top: 20px;
			width: 100%;
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			font-size: 12px;
			border-radius: 50%;
			border: 2px solid rgba(0,0,0,.1);
		}
	}

	.step-item{
		text-align: center;
		padding: 60px;
		margin: 60px auto;
		background: #efefef;
		position: relative;

		&.xbottom{
			bottom: -60px;
		}

		&.xtop{
			top: -60px;
		}

		&.xcolor{
			background: $main-color;
			color: #11141b;

			.icon{
				color: #11141b !important;
			}

			p{
				color: #333;
			}
		}

		.icon{
			color: $main-color;
			font-size: 40px;
			margin-bottom: 30px;
		}

		h6{
			margin-bottom: 20px;
		}
	}

	.item{
		text-align: center;
		padding: 60px;
		background: #efefef;
		position: relative;

		.icon{
			color: $main-color;
			font-size: 40px;
			margin-bottom: 40px;
		}

		h6{
			margin-bottom: 15px;
		}
	}
}


.min-area {

	.img{
		padding: 120px 0 120px 80px;
		position: relative;
		z-index: 3;

		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 120px;
			bottom: 0;
			left: -300px;
			background: #efefef;
			z-index: -1;
		}
	}

	.content{
		padding-left: 40px;

		h4{
			font-weight: 700;
			font-size: 40px;
			line-height: 1.5;
			margin-bottom: 20px;
		}

		ul{
			margin: 0;

			li{
				margin-top: 25px;
				padding-left: 25px;
				position: relative;

				&:after{
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid #999;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 2px;
				}
			}

			&.feat{

				li{
					padding: 0 0 30px 0;
					border-bottom: 1px solid rgba(255,255,255,.05);

					&:last-of-type{
						padding: 0;
						border: 0;
					}

					&:after{
						display: none;
					}

					h6{
						font-weight: 500;
						margin-bottom: 5px;
						
						span{
							color: $main-color;
							width: 30px;
							height: 30px;
							line-height: 30px;
							text-align: center;
							font-size: 13px;
							border: 1px solid $main-color;
							border-radius: 50%;
							margin-right: 10px;
						}
					}

					p{
						font-size: 13px;
						padding-left: 45px;
					}
				}
			}
		}
	}
}

/* ====================== [ End services ] ====================== */