

/* ====================== [ Start Testimonials ] ====================== */

.testimonials{

	.item{
		text-align: center;
		margin: 0 15px;

		p{
			font-size: 22px;
			font-weight: 300;
		}

		.info{
			margin-top: 30px;

			.img{
				width: 70px;
				height: 70px;
				border-radius: 50%;
				overflow: hidden;
				margin: 0 auto 20px;
			}

			.author-name{
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 500;
				margin-bottom: 5px;
				color: $main-color;
			}

			.author-details{
				font-size: 13px;
			}
		}
	}

	.slick-dots{
		bottom: -30px;
	}

	.slick-dots li{
		width: 7px;
		height: 7px;
		border-radius: 50%;
		border: 1px solid #eee;

		&.slick-active{
			background: #eee;
		}

		button{
			display: none;
		}
	}

	.arrows{

		.next, .prev{
			position: absolute;
			right: -50px;
			top: 50%;
			width: 50px;
			height: 50px;
			line-height: 55px;
			text-align: center;
			font-size: 20px;
			border: 1px solid #eee;
			border-radius: 50%;
			opacity: 0;
			transition: all .4s;

			&:hover{
				border-color: $main-color;
			}
		}

		.prev{
			right: auto;
			left: -50px;
		}
	}

	&:hover{

		.arrows{

			.next, .prev{
				opacity: 1;
				right: 0;
			}

			.prev{
				left: 0;
			}
		}
	}

	&.lftstl{
		
		.item{
			text-align: left;

			.info{

				.author{
					
					.lxleft{
						display: table-cell;
						vertical-align: middle;

						.img{
							margin: 0;
						}
					}

					.fxright{
						display: table-cell;
						padding: 20px;
					}
				}
			}
		}

		.slick-dots{
			text-align: right;
		}
	}
}

.block-sec{

	.video-box{

		.img{
			position: relative;

			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: .4;
			}
		}
	}

	.vid-area{

		.vid-icon{

			.vid{
				width: 80px;
				height: 80px;
				background: #fff;
				border-radius: 50%;
				text-align: center;
				line-height: 80px;
				position: relative;

				&:after{
					content: '';
					position: absolute;
					top: -10px;
					left: -10px;
					right: -10px;
					bottom: -10px;
					background: #fff;
					border-radius: 50%;
					opacity: .1;
				}
				
				span{
					font-size: 30px;
					color: $main-color;
				}
			}
		}

		.cont{
			margin-top: 40px;

			h6{
				text-transform: uppercase;
				font-weight: 300;
				margin-bottom: 15px;
			}

			h3{
				font-size: 45px;
				font-weight: 700;
			}
		}
	}

	.testim-box{
		position: relative;
		background: $main-color;
		padding: 80px 40px;
		margin-bottom: -120px;

		.head-box{

			h6{
				color: #0c0f16;
				font-size: 12px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 4px;
				margin-bottom: 10px;
			}

			h4{
				color: #0c0f16;
				margin-bottom: 40px;
			}
		}

		.item{

			p{
				color: #333;
				font-size: 17px;
				margin-bottom: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid rgba(0,0,0,0.05);
			}

			.info{

				.img{
					display: table-cell;
					vertical-align: middle;

					.img-box{
						width: 70px;
						height: 70px;
						border-radius: 50%;
						overflow: hidden;
					}
				}

				.cont{
					display: table-cell;
					vertical-align: middle;
					padding-left: 15px;

					.author-name{
						color: #0c0f16;
						font-size: 16px;
						margin-bottom: 5px;
						letter-spacing: 2px;
						text-transform: uppercase;
					}

					.author-details{
						color: #0c0f16;
						font-size: 13px;
						font-weight: 300;
						text-transform: uppercase;
					}
				}
			}
		}

		.slick-dots{
			text-align: right;
		}

		.slick-dots li{
			width: 7px;
			height: 7px;
			border-radius: 50%;
			border: 1px solid #0c0f16;

			&.slick-active{
				background: #0c0f16;
			}

			button{
				display: none;
			}
		}
	}

	.showreel{

		.video-box{
			margin-top: 200px;
			position: relative;
			margin-bottom: -100px;
			z-index: 2;

			&:after, &:before{
				content: '';
				position: absolute;
				width: 20%;
				height: 100%;
				top: 0;
				border-right: 1px solid #eee;
				border-left: 1px solid #eee;
				opacity: .2;
				z-index: 3;
			}

			&:after{
				left: 20%;
			}

			&:before{
				right: 20%;
			}

			.tit-text{
				position: absolute;
				top: -100px;
				width: 100%;
				text-align: center;
				z-index: -1;

				h3{
					font-size: 100px;
					font-weight: 700;
					text-transform: uppercase;
					color: transparent;
    				-webkit-text-stroke: 1px rgba(0,0,0,.1);
				}
			}

			.vid{
				width: 140px;
				height: 140px;
				line-height: 140px;
				text-align: center;
				font-size: 20px;
				border-radius: 50%;
				background: rgba(255,255,255,.15);
				border: 1px solid #fff;
				position: absolute;
				top: calc(50% - 70px);
				left: calc(50% - 70px);
				z-index: 4;
			}

			.img{
				box-shadow: 0px 10px 30px -5px rgba(52, 60, 70, 0.5);
				border-radius: 5px;
				overflow: hidden;
			}
		}
	}
}

.clients-brand{

	.item{

		a{
			width: 80px;
			opacity: .5;

			&:hover{
				opacity: 1;
			}
		}
	}
}

/* ====================== [ End Testimonials ] ====================== */